<div class="sort_main">
	<div class="sort_project">
		<div ng-repeat="disslist_key in disslist_keys" class="sort_content">
				<p class="select" ng-click="check_in=!check_in" ng-model="check_in">
				     <span>{{disslist_key}}</span>
				     <span><i class="fa  iconfont ">{{check_in?'&#xe607;':'&#xe600;'}}</i></span>
				     <div class="detail" ng-show="check_in">
				     	<p ui-sref="app.detail.list({category:'diss',request_id:item.id})" ng-repeat="item in category[disslist_key]">{{item.name}}</p>
				     </div>
				</p>
	      </div>
	</div>
</div>