<ion-content>
<div class="healthy_main">
    <div class="banner" style="height:4.78rem;">
             <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered class="carousel2" style="height: 4.78rem">
              <li ng-repeat="banner in banners track by banner.seq">
                  <div ng-click="bannerClicked(banner)" style="height:100%" ng-style="{'background-image': 'url(' + compressImageUrl(banner.img_url, 2.7) + ')'}"  >
                  </div>
               <p class="message">{{banner.description}}</p>   
               </li> 
             </ul> 
    </div>
	<p class="jianju"></p>
	<div class="content">
		<div class="jibing" ui-sref="app.disease.list">
		    <span><i class="fa  iconfont ">&#xe60e;</i></span>
		    <span>疾病百科</span>
		 </div>
		<div class="yaoping" ui-sref="app.cihui({category:'cihui'})">
		    <span><i class="fa  iconfont ">&#xe614;</i></span>
		    <span>词汇百科</span>
		</div>
		<div class="zhengzhuang" ui-sref="app.cihui({category:'bingzheng'})">
		    <span><i class="fa  iconfont ">&#xe609;</i></span>
		    <span>症状百科</span>
		</div>
		<div class="wait">
		     <span><i class="fa  iconfont ">&#xe610;</i></span>
		     <span>敬请期待</span>
		 </div>
	</div>
</div>
</ion-content>